.flags {
  display: flex;
  align-self: center;
  width: 100px;
  height: 80px;
}

.country {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.info {
  display: flex;

  flex-direction: column;
}
